.card-container {
  height: 20rem;
  width: 14rem;
  padding: 0;
  background-color: #ededed;
}

.cardButton {
  width: 3rem;
  background-color: white;
  color: black;
  align-self: flex-end;
  margin-top: auto;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.cardDescription {
  overflow: hidden;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: auto;
}

.cardBorder {
  border-style: ridge;
}

.cardText {
  padding: 1rem;
}

.shadow:hover {
  box-shadow: 0 0 0.4rem 0.4rem rgb(0, 0, 0, 0.2);
  transition: 0.2s;
}
