.card-container {
  height: 20rem;
  width: 14rem;
  padding: 0;
  background-color: #ededed;
}

.cardButton {
  width: 3rem;
  align-self: flex-end;
  margin-top: auto;
  /* margin-right: 0.25rem; */
  margin-bottom: 0.25rem;
}

.cardButton:hover,
.cardButton:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.cardDescription {
  overflow: hidden;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: auto;
}

.cardBorder {
  border-style: ridge;
}

.cardText {
  padding: 1rem;
}

.shadow:hover {
  box-shadow: 0 0 0.4rem 0.4rem rgb(0, 0, 0, 0.2);
  transition: 0.2s;
}

/* MODAL */

.hideModal {
  display: none;
}

.modalWindowStylingTwo {
  z-index: 9;
  width: 25vw;
  margin: auto;
  height: 50vh;
  position: fixed;
  top: 20vh;
  left: 38vw;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

.imageModal {
  max-width: 40vw;
  max-height: 30vh;
  padding-top: 2rem;
}

.descriptionModal {
  padding-top: 2rem;
}

.modalTextBox {
  max-width: 15vw;
  max-height: 30vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-self: center;
}
